*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins, sans-serif;
}
h2{
    margin-top: 100px;
    text-align: center;
    color: #000;
    font-size: 30px;
}
h5{
    color: gray;
    text-align: center;
    margin-top: 6px;
}
/* visit---------------------------- */
.visit{
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
}
.in-visit{
    width: 70%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.b1{
    margin-top: 10px;
}
.b1 a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: 500;
    transition: 1s;
}
.b1 a:hover{
    color: #fff;
    background-color: crimson;
    border-radius: 5px;
}
.b2{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 10px;
    transition: 1s;
}
.b2:hover{
    color: #fff;
    background-color: crimson;
    border-radius: 5px;
}
/* visit ---------------------------- */

/* header ----------------------------- */
header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    /* border: 1px solid black; */
}
.main-hed{
    align-items: center;
    width: 70%;
    height: inherit;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.main-hed img{
    width: 50px;
    height: 30px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
}
nav ul li a:hover{
    color: crimson;
}
#menu{
    display: none;
}
/* header ----------------------------- */

/* swiper ----------------------------- */
html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      /* background: #eee; */
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      /* object-fit: cover; */
    }
/* swiper ---------------------------- */



/* category---------------------------------- */
.cat{
    width: 70%;
    height: 450px;
    /* border: 1px solid black; */
    margin: auto;
    position: relative;
    margin-top: 50px;
    
}
.cat .i1{
 position: absolute;
 top: 0;
 left: 0;
}
.cat .i2{
    position: absolute;
    top: 0;
    left: 350px;
}
.cat .i3{
    position: absolute;
    bottom: 0;
    left: 0;
}
.cat .i4{
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: 450px;
}
/* category------------------------------------- */





/* product man ---------------------------------- */
.product{
    width: 70%;
    height: 360px;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    justify-content: space-between

}
.man{
    margin-top: 50px;
}
.man img{
    width: 230px;
}
.man h4{
    margin-top: 10px;
}
.man h3{
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
}
/* product man -------------------------------------- */





/* deal --------------------------------------------- */
.main-deal{
    width: 100%;
    height: 350px;
    background-color: #eee;
}
.deal{
    width: 70%;
    height: inherit;
    margin: auto;
    display: flex;
}
.counter{
    margin-top: 105px;
    margin-left: -5px;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 90px;
    background-color: #fff;
    align-items: center;
}
.counter .a h1{
    color: crimson;
    font-size: 30px;
    text-align: center;
}
.counter .a h4{
    color: gray;
    text-align: center;
}
hr{
    height: 50px;
}
.main-deal a{
    text-decoration: none;
    color:black;
    box-shadow: 2px 2px 2px 2px rgb(191, 190, 190);
    width: 150px;
    height: 30px;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-top: 190px;
    margin-left: -150px;
}
.main-deal a:hover{
    color: #fff;
    background-color: crimson;
}
/* deal ------------------------------------------------ */



/* Search----------------------------------------------- */
.se-pro{
    width: 70%;
    height: 300px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pro{
    display: flex;
   margin-top: 50px;
   flex-basis: 25%;
   
}
.pro-txt p{
    margin-top: 20px;
    color: gray;
}
.pro-txt span{
    font-weight: bold;
}
/* Search----------------------------------------------- */




/* footer ------------------------------------------------ */
footer{
    width: 100%;
    height: 350px;
    background-color: #222222;
    color: #fff;
   
}
.ft{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.f1{
    margin-top: 100px;

    flex-basis: 30%;
}
.f1 h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.f1 p{
    color: gray;
}
.f2{
    margin-top: 100px;

    flex-basis: 30%;
}
.f2 h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.f2 p{
    color: gray;
    margin-bottom: 10px;
}
.f2 input{
    width: 150px;
    height: 30px;
    color: #000;
    margin-top: 5px;
}
.f2 i{
    background-color: crimson;
    font-size: 20px;
    padding: 5px;
}
.f3{
    margin-top: 100px;

    flex-basis: 30%;
}
.f3 h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.f4{
    margin-top: 100px;

    flex-basis: 30%;
}
.f4 h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.f4 p{
    color: gray;
}
.f4 i{
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    padding: 5px;
}
.f4 i:hover{
    color: crimson;
}





@media (min-width:721px) and (max-width:980px){
    .ft{
        width: 100%;
    }
    .product{
        margin-left: 0px;
    }
    .se-pro{
        margin-left: 100px;
    }
    .cat{
        margin-left: 60px;
    }
}



@media (min-width:481px) and (max-width:720px){
    .visit{
        width: 720px;
        /* border: 1px solid black; */
    }
   
    .b1 a{
        font-size: 15px;
    }
    .b2{
        font-size: 18px;
    }
    nav {
        margin-top:160px;
        background-color: #eee;
        width: 360px;
        display: none;
    }
    nav ul li{
        display:block;
        text-align: center;
    }
    #menu{
        display: block;
        font-size: 20px;
    }
     html,
    body {
      position: relative;
      height: 200px;
    }

     .swiper{
        margin-top: 100px;
     }
     .swiper-slide img{
        width: 720px;
        height: 200px;
     }
    .cat{
        display: none;
    }
    .cate h2, h5{
        display: none;
    }
    h2{
        margin-top: 50px;
        font-size: 25px;
        text-align: center;
    }
    h5{
        font-size: 13px;
        text-align: center;
    }
    .product{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        margin-left: 60px;
    }
    .man{
        flex-basis: 50%;
    }
    .ft{
        width: 100%;
    }
    
}





@media (min-width:361px) and (max-width:480px){
    .visit{
        width: 480px;
        /* border: 1px solid black; */
    }
   
    .b1 a{
        font-size: 10px;
    }
    .b2{
        font-size: 13px;
    }
    nav {
        margin-top:160px;
        background-color: #eee;
        width: 360px;
        display: none;
    }
    nav ul li{
        display:block;
        text-align: center;
    }
    #menu{
        display: block;
        font-size: 20px;
    }
     html,
    body {
      position: relative;
      height: 200px;
    }

     .swiper{
        margin-top: 100px;
     }
     .swiper-slide img{
        width: 480px;
        height: 200px;
     }
    .cat{
        display: none;
    }
    h2{
        margin-top: 50px;
        font-size: 20px;
        text-align: center;
    }
    h5{
        font-size: 11px;
        text-align: center;
    }
    .cate h2, h5{
        display: none;
    }
    .product{
        flex-direction: column;
        width: 480px;
        height: auto;
        /* border: 1px solid black; */
        margin-left: 100px;

    }
    .main-deal{
        width: 480px;
        height: auto;
    }
    .deal{
        flex-direction: column;
    }
    .counter{
        flex-direction: column;
        height: 200px;
        margin-left: 20px;
        text-align: center;
        margin-top: 10px;
        width: 200px;
    }
    .main-deal a{
        margin-top: 10px;
        margin-left: 35px;
    }
    .se-pro{
        height: 900px;
    }
    .slider{
        margin-top: 0px;
    }
    .slick-slide img {
        width: 100%;
    }
    footer{
        width: 480px;
        height: auto;
    }
    .ft{
        flex-direction: column;
       
    }
    
}




@media (min-width:0px) and (max-width:360px){
    .visit{
        width: 360px;
        /* border: 1px solid black; */
    }
   
    .b1 a{
        font-size: 10px;
    }
    .b2{
        font-size: 13px;
    }
    nav {
        margin-top:160px;
        background-color: #eee;
        width: 360px;
        display: none;
    }
    nav ul li{
        display:block;
        text-align: center;
    }
    #menu{
        display: block;
        font-size: 20px;
    }
    html,
    body {
      position: relative;
      height: 200px;
    }

     .swiper{
        margin-top: 100px;
     }
     .swiper-slide img{
        width: 360px;
        height: 200px;
     }
    .cat{
        width: 360px;
        display: flex;
        flex-direction: column;
        display: none;
    }
    .cate h2, h5{
        display: none;
    }
    h2{
        margin-top: 50px;
        font-size: 20px;
        text-align: center;
    }
    h5{
        font-size: 11px;
        text-align: center;
    }
    .product{
        flex-direction: column;
        width: 360px;
        height: auto;
        /* border: 1px solid black; */
    }
    .main-deal{
        width: 360px;
        height: auto;
    }
    .deal{
        flex-direction: column;
    }
    .counter{
        flex-direction: column;
        height: 200px;
        margin-left: 20px;
        text-align: center;
        margin-top: 10px;
        width: 200px;
    }
    .main-deal a{
        margin-top: 10px;
        margin-left: 35px;
    }
    .se-pro{
        height: 1300px;
    }
    .slider{
        margin-top: 0px;
    }
    .slick-slide img {
        width: 100%;
    }
    footer{
        width: 360px;
        height: auto;
    }
    .ft{
        flex-direction: column;
       
    }
    
}