*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cinzel;
}
/* header ------- */
header{
    height: 100vh;
    width: 100%;
    /* border: 1px solid black; */
}
#main{
    height: 90px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* box-shadow: 2px 2px 2px 2px whitesmoke; */
    background-color: #fff;
}
.logo {
    margin-left: 50px;
}
nav{
  margin-left: 90px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px;
}
nav ul li a:hover{
  color: #2e5baf;
}
.icon{
  margin-left: 410px;

}
.icon i{
    padding: 8px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    font-weight: lighter;
    cursor: pointer;
}
.icon i:hover{
  color: #a0a5e4;
}
#bag{
  background-color: #a0a5e4;
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid grey;
  width: 50px;
  border: 1px solid #6c96e4;
  color: #fff;
  margin-left: 25px;
}
html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      /* margin-top: 20px; */
      width: 95%;
      height: 80%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      /* /* object-fit: cover; * */
    }

    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #9f2020;
      opacity: 1;
      background: rgba(0, 0, 0, 0.2);
    }

    .swiper-pagination-bullet-active {
      color: #fff;
      background: #007aff;
    }
    /* header ---------- */

    /* img-section------ */
  .i{
    height: 60vh;
    width: 100%;
    margin-top: 2%;
  }
  .i-main{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .i1{
    height: 55vh;
    width: 22%;
  }
  .i1 img{
    height: 100%;
    width: 100%;
  }
  /* img-section ------- */



  /* NEW ARRIVAL----- */
  
  .new{
    height: 150vh;
    width: 80%;
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-top: 5%;
  }
  .new h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
  }
  .n-main{
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .n1{
    height: 60vh;
    width: 22%;
    /* border: 1px solid black; */
    text-align: center;
    box-shadow: 1px 2px 2px 0.5px gainsboro;
    border-radius: 10px;
  }
  .n1 img{
    height: auto;
    width: 99.25%;
    border-radius: 10px;
  }
  .n1 h3{
    margin-top: 8px;
    font-size: 20px;
  }
  .n1 i{
    margin-top: 5px;
    padding: 5px;
    color: orange;
  }
  .n1 h4{
    margin-top: 5px;
    font-size: 20px;
  }
  .new span{
    text-align: center;
    font-size: 18px;
    border: 1px solid #6c96e4;
    margin-left: 42%;
    color: #6c96e4;
    padding: 15px;
    position: relative;
    border-radius: 10px;
  }
  span::before{
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;      
    display: block;
    margin: 0;
    background: none;
    transition: 1s;
}
span:hover::before{
    height: 100%;
    background: rgb(105, 105, 223);
    border-radius: 10px;
    color: #fff;
    
}
/* NEW ARRIVAL------- */

/* <!-- collection houses--------- --> */

.ch{
  margin-top: 80px;
    height: 60vh;
    width: 90%;
    /* border: 1px solid black; */
    margin-left: 5%;
    background-image:linear-gradient(rgb(0, 0, 0, 0.1),black), url(image/pattern-g3bc4ef90d_640.png);
    background-repeat: no-repeat;
     background-size: cover; 
     background-position: center;
    position: relative;
} 
#text{
    height: 40vh;
    width: 100%;
    /* background: black; */
    position: absolute;
    top: 25%;
    text-align: center;
    color: white;
}
#text h1{
    font-size: 50px;
    margin-bottom: 30px;
}
#text a{
    text-decoration: none;
    color: white;
    background: mediumslateblue;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
}
/* <!-- collection houses--------- --> */

/* blog-------- 
#b{
    height: 60vh;
    width: 90%;
     margin-left: 5%;
     margin-top: 4%;
     /* border: 1px solid black; 
}
#b-main{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#b1{
    height: 60vh;
    width: 48%;
    /* border: 1px solid black ; 
    position: relative;
}
.bimg{
     width: 580px;
     height: 400px;
     overflow: hidden;
}
.bimg img{
  width: 100%;
  height: 100%;
  transition: 1s;
  /* border: 1px solid black; 
}

.bimg img:hover{
    transform: scale(1.2);
}
#b1-text{
position: absolute;
top: 60%;
left: 5%;
}
#b1-text a{
    text-decoration: none;
    background: darkslateblue;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#b1-text h1{
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}
/* blog--------- */
#b{
    height: 60vh;
    width: 90%;
     margin-left: 5%;
     margin-top: 4%;
     /* border: 1px solid black; */
}
#b-main{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#b1{
    height: 60vh;
    width: 48%;
    /* border: 1px solid black ; */
    position: relative;
}
#b1 img{
    height: 100%;
    width: 100%;
    transition: 1s;
}
#b1 img:hover{
    transform: scale(1.05);
}
#b1-text{
position: absolute;
top: 60%;
left: 5%;
}
#b1-text a{
    text-decoration: none;
    background: darkslateblue;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#b1-text h1{
    line-height: 40px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
}


/* device --------- */
#d{
    height: 40vh;
    width: 90%;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-top: 5%;
    background: MintCream;
}
#d-main{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: WhiteSmoke; */
}
#d1{
    height: 30vh;
    width: 23%;
    /* border: 1px solid black; */
}
#d1 img{
    height: 6vh;
    width: 20%;
}
#d1 h1{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 18px;
    color: #1D2547;
}
#d1 h3{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 14px;
    color: grey;
    font-weight: lighter;
}
/* device ------ */

/* footer ----------- */

footer{
  height: 50vh;
  width: 100%;
  /* border: 1px solid black; */
  background: #1D2547;
  /* color: white; */
}
#ft-main{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#ft1{
height: 30vh;
width: auto;
}
#bt1{
display: none;
}
#ft1 i{
border: 1px solid white;
font-size: 25px;
color: white;
padding: 5px;
border-radius: 50%;
}
#ft1 h1{
  color: #fff;
}
#ft1 p{
  color: grey;
  margin-top: 5px;
  cursor: pointer;
}
#ft1 p:hover{
  color: #6c96e4;
}
@media (min-width:720px) and (max-width:980px)
 {
  header{
    height: auto;
    width: auto;
  }
  #main{
    /* height: auto; */
    width: auto;
  }
  nav{
    margin-left: 50px;
  }
  .icon{
    margin-left: 50px;
  }

  .new{
    height: auto;
    width: auto;
    margin: 0;
  }
  .n-main{
    height: auto;
    width: auto;
    margin: 0;
  }
  .n1{
    height: auto;
    width: 25%;
    /* margin: 0; */
    margin-bottom: 20px;
  }


  .ch{
    margin-top: 5%;
  }
}

@media (min-width:480px) and (max-width:720px)
 {
  header{
    height: auto;
    width: auto;
    position: relative;
  }
  #main{
    margin-bottom: 20%;
  }
  nav{
    /* margin-left: 0; */
    position: absolute;
    top: 20%;
    display: none;
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    text-align: center;
  }
  nav ul li {
    display: block;
  }
  .icon{
    margin-left:  180px;
  }
  .icon i{
    padding: 5px;
    font-size: 20px;
  }
  .logo{
    margin-left: 50px;
  }
  .logo img{
    width: 250px;
  }
   #bag{
    font-size: 20px;
    width: 50px;
    padding: 3px;
    margin-left: 10px;
  }
  #main #bt1{
    position: absolute;
    top: 5%;
    left: 60%;
    color: gray;
    
  } 
  #bt1{
    display: block;
    font-size: 20px;
  }


  .new{
    height: auto;
    width: auto;
  }
  .n-main{
    height: auto;
    width: auto;
  }
  .n1{
    height: auto;
    width: auto;
  }
  .new span{
    margin-left: 220px;
  }


  .ch{
    margin-top: 5%;
  }
  #b1-text h1{
    font-size: 22px;
    list-style: 22px;
  }
  #b1-text a{
    padding: 5px;
    font-size: 18px;
  }



  footer{
    height: auto;
    width: auto;
  }
  #ft-main{
    height: auto;
    width: auto;
    flex-direction: column;
  }
  #ft1{
    height: auto;
    width: auto;
    text-align: center;
  }
}

@media (min-width:360px) and (max-width:480px)
 {
  header{
    height: auto;
    width: auto;
    position: relative;
  }
  #main{
    margin-bottom: 20%;
  }
  nav{
    /* margin-left: 0; */
    position: absolute;
    top: 20%;
    display: none;
    /* border: 1px solid black; */
    width: 100%;
    margin: 0;
    text-align: center;
  }
  nav ul li {
    display: block;
  }
  .icon{
    margin-left:  150px;
  }
  .icon i{
    padding: 5px;
    font-size: 15px;
  }
  .logo{
    margin-left: 10px;
  }
  .logo img{
    width: 150px;
  }
   #bag{
    font-size: 10px;
    width: 30px;
    padding: 2px;
    margin-left: 10px;
  }
  #main #bt1{
    position: absolute;
    top: 8%;
    left: 60%;
    color: gray;
  }  


 .i{
  height: auto;
  width: auto;
  margin: 0;
 }
 .i-main{
  height: auto;
  width: auto;
  flex-wrap: wrap;
  margin: 0;
 }
 .i1{
  height: auto;
  width: 45%;
  margin: 0;
 }



 .new{
  height: auto;
  width: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  margin: 0;
 }
 .n-main{
  height: auto;
  width: auto;
  flex-wrap: wrap;
  margin: 0;
 }
 .n1{
  height: auto;
  width: 45%;
  margin: 0;
 }
 .new span{
  margin-left: 120px;
 }
#text h1{
  font-size: 40px;
 }

 #b1-text{
  top: 40%;
 }
 #b1-text h1{
  font-size: 25px;
  color: #000;
 }
 #b1-text a{
  padding: 5px;
  font-size: 18px;
 }


 #d{
  height: auto;
  width: auto;
 }
 #d-main{
  height: auto;
  width: auto;
  flex-wrap: wrap;
 }
 #d1{
  height: auto;
  width: 45%;
 }


 footer{
  height: auto;
  width: auto;
  margin-top: 50px;
 }
 #ft-main{
  height: auto;
  width: auto;
  flex-direction: column;
 }
 #ft1{
  height: auto;
  width: auto;
  text-align: center;
 }
 
 #bt1{
  display: block;
}
}

@media (min-width:0px) and (max-width:360px)
 {
  header{
    height: auto;
    width: auto;
    position: relative;
  }
  #main{
    margin-bottom: 30%;
  }
  nav{
    /* margin-left: 0; */
    position: absolute;
    top: 25%;
    display: none;
  }
  nav ul li {
    display: block;
  }
  .icon{
    margin-left:  80px;
  }
  .icon i{
    padding: 2px;
    font-size: 10px;
  }
  .logo{
    margin-left: 10px;
  }
  .logo img{
    width: 150px;
  }
  #bag{
    font-size: 10px;
    width: 30px;
    padding: 2px;
    margin-left: 10px;
  }
  #main #bt1{
    position: absolute;
    top: 9%;
    left: 60%;
    color: gray;
  }



  .i{
    height: auto;
    width: 100%;
  }
  .i-main{
    height: auto;
    width: auto;
    flex-direction: column;
  }
  .i1{
    height: auto;
    width: 80%; 
  }


  .new{
    height: auto;
    width: auto;
  }
  .n-main{
    height: auto;
    width: auto;
    flex-direction: column;
  } 
  .n1{
    height: auto;
    width: 80%;
    margin-bottom: 10px;
  }
  .new span{
    margin-left: 80px;
    /* margin-top: 5%; */
  }



  .ch{
    margin-top: 8%;
    /* height: auto; */
    width: 100%;
    margin-top: 50px;
    /* margin: 0; */
  }

  #text h1{
    font-size: 30px;
  }
  #text a{
    font-size: 18px;
  }


  #d{
    height: auto;
    width: auto;
    margin: 0;
  }
  #d-main{
    height: auto;
    width: auto;
    flex-direction: column;
  }
  #d1{
    height: auto;
    width: 80%;
    margin-top: 10px;
  }
  #b{
    height: auto;
    width: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin: 0; */

  }
  #b-main{
    height: auto;
    width: auto;
    margin: 0;
    flex-direction: column;
  }
  #b1{
    height: auto;
    width: 80%;
    margin: 0;
  }
  #b1-text{
    top: 40%;
  }
  #b1-text h1{
    font-size: 22px;
    line-height: 22px;
  }
  #b1-text a{
    padding: 5px;
    font-size: 18px;
  }
  footer{
    height: auto;
    width: auto;
    margin-top: 5%;
  }
  #ft-main{
    height: auto;
    width: auto;

    flex-direction: column;
  }
  #ft1{
    height: auto;
    width: auto;
    text-align: center;
  }
  #bt1{
    display: block;
  }
}